*{
    font-family: 'Questrial';
}

.container__principal{
    display: flex;
    width: 75%;
    height: 87vh;
    border-radius: 10px;
    margin-top: 20px;
}

.user__status{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 45%;
    border-radius: 15px;
}
.user__status img{
    width: 300px;
    border-radius: 50%;
    margin-top: 50px;
}
.user__status strong{
    font-size: 30px;
    margin-top: 15px;
}
.user__status span{
    font-size: 20px;
    margin-top: 15px;
}
.user__status p{
    font-size: 19px;
    color: gray;
    margin-top: 15px;
    width: 50%;
    text-align: center;
}
.user__status a{
    color: white;
    text-decoration: none;
}
.user__status button{
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 100px;
    border: none;
    transition: 0.6s;
    cursor: pointer;
    background-color: gray;
    color: white;
}

.user__status button:hover{
    color: white;
    background-color: #140f01;
background-image: -webkit-linear-gradient(147deg, #140f01 0%, #FF2525 74%);
background-image: -moz-linear-gradient(147deg, #140f01 0%, #FF2525 74%);
background-image: -o-linear-gradient(147deg, #140f01 0%, #FF2525 74%);
background-image: linear-gradient(147deg, #140f01 0%, #FF2525 74%);

}
.container__information{
    width: 30%;
    margin-left: 20px;
}
.container__others{
    margin-top: -20px;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    height: 45%;
}
.container__others ul{
    list-style: none;
}
.container__others li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.container__others div{
    font-size: 20px;
}
.container__others h1{
    padding: 20px;
}
.container__others hr{
    margin-top: -20px;
}
.container__others span{
    display: flex;
    color: white;
    background-color: green;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 5%;
}
.container_repositores{
    background-color: white;
    height: 52%;
    border-radius: 15px;
    margin-top: 20px;
    overflow-y: auto;
}
.repositores button{
    border: none;
    background-color: gray;
    border-radius: 50px;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    transition: 0.6s;
}
.repositores button:hover{
    background-color: #140f01;
background-image: -webkit-linear-gradient(147deg, #140f01 0%, #FF2525 74%);
background-image: -moz-linear-gradient(147deg, #140f01 0%, #FF2525 74%);
background-image: -o-linear-gradient(147deg, #140f01 0%, #FF2525 74%);
background-image: linear-gradient(147deg, #140f01 0%, #FF2525 74%);
}
.container_repositores h1{
    margin-left: 15px;
    font-size: 35px;
}
.container__repos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    height: 40px;
    align-items: center;
}

.container__repos span{
    font-size: 20px;
    color: black;
}
main{
    align-items: center;
    width: 55%;
    justify-items: space-around;
    height: 300px;
    margin-top: 100px;
}
main h1{
    font-size: 70px;
    font-weight: bold;
    text-align: center;
}
main p{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 13px;
}
main span{
    font-size: 30px;
    font-weight: bold;
    color: rgb(38, 38, 38);
}



